/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */ 
body {
    background-color: #f1bdb7;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;

    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}
/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase; 
    
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    color: 000000;
}


p {
    color: 000000;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
}

.emphasised-text {
    font-style: italic;
}

 /* -------------------- LAYOUTS */
 .content{
     background-color: #f3edeb;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 3%;
     padding-right: 3%;


    
 }
/* -------------------- HEADER */
/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
footer {
    background-color: #f1bdb7 
}
/* -------------------- MODULES */

.news-component {
    border: 1px solid black
    
    border-width: 2px;
    border-style: solid;
    border-color: black;

    padding: 3%;

    margin-bottom: 20px;

    overflow: hidden;

}

.news-component h2 {
 color: #000000;   
}

.news-component img {
    float: left;
    margin-right: 20px;
}

.news-component-offset {
    background-color: #ffffff;
}

.news-component-offset img {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.news-component-image-only {
    display: flex;
    justify-content: center;
}

.news-component-image-only img{
    margin-right: 0;
    float: none;
}

.news-component-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}