/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */ 
body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;

    color: #666;
}

img {
    max-width: 100%;
}
/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    color: #222;
}

p {
    color: green;
}
 /* -------------------- LAYOUTS */
 .content{
     background-color: aqua;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 3%;
     padding-right: 3%;

     
    
 }
/* -------------------- HEADER */
/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
footer {
    background-color: red
}
/* -------------------- MODULES */








