/* -------------------- VARIABLES */

:root {
    --main-bg-color: #f1bdb7;

    --vertical-spacer: 20px;

    --padder: 3%%;

    --alternate-bg-color:  #f1bdb7;

    scroll-behavior: smooth;
}
/* -------------------- GLOBAL DEFAULTS */ 

html {

}
body {
    background-color: var(--alternate-bg-color);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #000000;
    font-size: 18px;
    line-height: 1.4;

    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* -------------------- HEADINGS AND TYPE */

h1, 
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase; 
    
}

h1 {
    font-size: 40px;
    
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    color: 000000;
}

p {
    color: 000000;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    padding-bottom: 1.5%;
}

.emphasised-text {
    font-style: italic;
}

 /* -------------------- LAYOUTS */

 .content{
     /*background-color: #f3edeb;*/
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     padding-left: var(--padder);
     padding-right: var(--padder);
     padding-top: .1%;
     

 }
/* -------------------- HEADER */

header {
    background-color:  var(--alternate-bg-color) ;
    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);
    text-align: center;
    color: #000000;
}

header a {
    text-decoration: none;
}

.header-logo img {
    max-width: 100px;
}

.header-heading {
    font-size: 32px;
}

.header-sub-heading {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-style: italic;
}

@media screen and (min-width: 800px) {

header {
    text-align: left;
}

.header-heading {
    font-size: 56px;
}

.header-logo img {
    max-width: 200px;
}

header .content {
    display: grid;
    grid-template-columns: 200px auto;
}

.header-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------------- NAVIGATION */

.navigation {

position: sticky;
top: 0;

background-color: var(--alternate-bg-color);
padding-bottom: 10px;
padding-top: 10px;
}

.navigation .content {

    margin-top: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;

}

.navigation a {
    color: #000000;
    text-decoration: none;
}

/* -------------------- FOOTER */
footer {
    background-color:  var(--alternate-bg-color) ;
    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);

    text-align: center;
    color: #000000;
  
}

/* BUTTONS */

.back-top a {
    background-color: var(--alternate-bg-color);
    color: var(--main-bg-color);
    padding: var(--main-bg-color)
}

/* -------------------- MODULES */

main {
    background-color: #efe3dd;
}

.news-component {
    border: 1px solid black;
    
    border-width: 2px;
    border-style: solid;
    border-color: black;

    padding: 3%;

    margin-bottom: 20px;

    overflow: hidden;

}

.news-component h2 {
 color: #000000;   
}

.news-component img {
    float: left;
    margin-right: 20px;
}

.news-component-offset {
    background-color: #ffffff;
}

.news-component-offset img {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.news-component-image-only {
    display: flex;
    justify-content: center;
}

.news-component-image-only img{
    margin-right: 0;
    float: none;
}

.news-component-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.news-component-columns a img {
    filter: grayscale();
}

.news-component-columns a:hover img {
    filter: unset;
}

@media screen and (min-width: 800px) {

.news-component-columns {
    grid-template-columns: 1fr 1fr;
}

/* -------------------- BLOG GRID */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}
    
.container a {
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.container a img {
    filter: grayscale() opacity(0.9);
    
}

}
.container a:hover img {
    filter: unset;
}


/* -------------------- HERO MODULE */

.hero-module {
    position: relative;

}

.hero-module img {
    width: 100%;
}

@media screen and (min-width: 800px) {
    
    .hero-content {
        position: absolute;

        width: 100%;
        height: 100%;

        bottom: 0;

        display: flex;

        align-items: center;
        justify-content: center;
    }

    .hero-module .heading-main {
        color: #000000;
        background-color: var(--main-bg-color);
    }

}

/* SOCIAL MEDIA BUTTONS */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-bottom: 1cm;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    margin-bottom: 1cm;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }